body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-weight: normal;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }

}



input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    width: 100%;
    background-color: #FFF;
}

body{
    background: url('./images/main-bg.png') left center repeat;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paddingTop{
    padding-top: 1.95rem;
}

.paddinglf{
    padding: 0 20px;
}

.inline{
    display: inline;
}

@keyframes backOpacity{
   0%   { opacity: 1 }
   25%  { opacity: .5 }
   50%  { opacity: 1 }
   75%  { opacity: .5 }
   100% { opacity: 1 }
}

.animation_opactiy{
    animation: backOpacity 2s ease-in-out infinite;
}

/* 图标 */
.iconfont{
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    margin: auto;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    fill: currentColor;
    vertical-align: middle;
    font-size: 18px;
}

.recharged_dialog{
    background: none;
}
.recharged_dialog .el-dialog__header{
    text-align: left;
    // border-radius:10px 10px 0px 0px;
    background: #FF6666;
}
.recharged_dialog .el-dialog__title{
    color: #fff;
}
.recharged_dialog .el-dialog__headerbtn .el-dialog__close{
    color: #FF6666;
}
.recharged_dialog .el-dialog__headerbtn{
    background: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    font-size: 30px;
    border-radius: 50%;
}
.recharged_dialog .el-dialog__body{
        padding: 30px 40px;
}
.recharged_dialog .recharged-foot{
    border-top:2px dashed #eee; 
    padding: 10px;
}
.recharged_dialog .el-form-item__label{
    text-align: left;
}
.recharged_dialog .recharged-imput{
    width: 400px;
}
.recharged_dialog p{
    padding: 5px 0;
}
.recharged_dialog .button{
    margin: 10px 50px;;
}
.recharged_dialog .button a{
    margin: 10px 50px;
    color: #008CD6;
    font-size: 1.2em;
}

.withdraw_dialog .el-dialog__header{
    text-align: left;
    // border-radius:10px 10px 0px 0px;
    background: #F39800;
}
.withdraw_dialog .el-form-item__label{
    text-align: left;
}
.withdraw_dialog .withdraw-imput{
    width: 400px;
    margin-top:10px; 
}
.withdraw_dialog .el-dialog__headerbtn .el-dialog__close{
    color: #F39800;
}
.withdraw_dialog .el-dialog__body{
        padding: 30px 80px;
}
.withdraw_dialog p{
    padding: 6px 0;
}
.withdraw_dialog .el-dialog__headerbtn{
    background: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    font-size: 30px;
    border-radius: 50%;
}
.withdraw_dialog .el-form-item{
    margin-bottom: 15px;
}
.withdraw_dialog .el-dialog__title{
    color: #fff;
}
.withdraw_dialog table,
.withdraw_dialog table th,
.withdraw_dialog table td
{
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
    height: 30px;
}
.withdraw_dialog .table{
    width: 500px;
}

.dialog_transfer{

}

.dialog_transfer .el-dialog__header{
    padding: 0px;
}

.dialog_transfer .el-dialog__body{
    padding: 10px 0px;
}
.dialog_transfer .el-dialog__headerbtn{
    z-index: 99;
}
.dialog_transfer .el-dialog__headerbtn .el-dialog__close{
    color: #fff;
}
.dialog_transfer .el-dialog__headerbtn .el-dialog__close:hover{
    color: #fff;
}
.dialog_transfer .el-tabs--card>.el-tabs__header .el-tabs__nav{
    margin-left: 20px;
}

.dialog_transfer .el-dialog__headerbtn{
    background: #0BA7A3;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    font-size: 30px;
    border-radius: 50%;
}
.dialog_transfer .el-tabs--card>.el-tabs__header{
    border-bottom: 6px solid #0BA7A3;
}
.dialog_transfer .el-tabs--card>.el-tabs__header .el-tabs__item{
     border-bottom: none;
}
.dialog_transfer .el-tabs__item.is-active{
    color: #fff;
    background: #0BA7A3;
}
.dialog_transfer .el-select .el-input .el-input__icon{
    top:0px;
}

.downapp_dialog{
    border-radius: 10px;
    background: none;
}
.el-dialog{
    background: none;
}
.downapp_dialog .el-dialog__header{
    text-align: left;
    background: #9fa0a0;
}
.downapp_dialog .el-dialog__header span{
    color: #fff;
}
.downapp_dialog .el-dialog__headerbtn .el-dialog__close{
    color: #9fa0a0;
}
.downapp_dialog .el-dialog__headerbtn{
    background: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    font-size: 30px;
    border-radius: 50%;
}
.downapp_dialog .el-dialog__body{
    padding: 0px 0 0 0;
    text-align: left;
    color: #333;
    clear: both;
    background: none;
}
.downapp_dialog .el-dialog__body .attention{
    padding: 10px 20px;
}
.downapp_dialog .el-dialog__body .attention p{
    font-size: 16px;
}
.downapp_dialog .el-dialog__body .attention em{
    color: #bb1b21;
    font-style: normal;
}
.downapp_dialog .el-dialog__body .qrcode{
    padding:10px 0;
}
.downapp_dialog .el-dialog__body .qrcode li{
    width: 50%;
    float: left;
}
.downapp_dialog .el-dialog__body .qrcode li a{
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    outline-style: none;
}
.downapp_dialog .el-dialog__body .qrcode li a p{
    width: 80%;
    height: 45px;
    line-height: 45px;
    border: 1px solid #7d7d7d;
    border-radius: 3px;
    text-align: center;
    color: #7d7d7d;
    font-size: 16px;
    margin: 10px auto;
}
.downapp_dialog .el-dialog__body .qrcode li.active p{
    background: #eb6464;
    border: 1px solid #eb6464;
    color: #fff;
    position: relative;
}
.downapp_dialog .el-dialog__body .qrcode li.active p .arrow{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #eb6464;
    position: absolute;
    left: calc(50% - 15px);
    top: 40px;
}
.downapp_dialog .el-dialog__body .downtype{
    height: 40px;
    width: 100%;
}
.downapp_dialog .el-dialog__body .downtype a{
    width: 50%;
    height: 40px;
    line-height: 40px;
    display: block;
    float: left;
    text-align: center;
    background-color: #f5f7fa;
    color: #3c3c3c;
}
.downapp_dialog .el-dialog__body .downtype a.active{
    background-color: #FFF;
    color: #000;
}
.downapp_dialog .el-dialog__body .pcdown .showimg{
    padding: 30px 0;
    text-align: center;
}
.downapp_dialog .el-dialog__body .pcdown .showimg img{
    width: 60%;
    margin: 0 auto;
}
.downapp_dialog .el-dialog__body .pcdown .showimg .downloadpc{
    padding-top: 15px;
}
.downapp_dialog .el-dialog__body .clear{
    clear: both;
}
.downapp_dialog .el-dialog__body .showcontent{
    width: 100%;
    background: #eb6464;
    padding: 10px 20px;
    color: #FFF;
}
.downapp_dialog .el-dialog__body .showcontent p.title{
    font-weight: bold;
    padding: 5px 0;
}
.downapp_dialog .el-dialog__body .showcontent p span{
    color: #facd19;
}

.agreelogin_dialog{
    border-radius: 10px;
    text-align: left;
    color: #333;
}
.agreelogin_dialog .title{
    width: 100%;
    border-bottom: 2px solid #EB6464;
    color: #000;
    line-height: 1.5em;
    padding: 10px 0;
    margin-bottom: 20px;
}
.agreelogin_dialog .el-dialog__body{
    padding: 10px 20px;
}
.agreelogin_dialog .agreeContent{
    height: 300px;
    overflow-y: scroll;
    color: #000;
    line-height: 2em;
}
.agreelogin_dialog .el-dialog__header{
    background: #eb6464;
}
.agreelogin_dialog .el-dialog__header .el-dialog__title{
    color: #ffffff;
}
.agreelogin_dialog  .el-dialog__headerbtn .el-dialog__close{
    color: #eb6464;
}
.agreelogin_dialog .el-dialog__headerbtn{
    background: #ffffff;
    width: 30px;
    height: 30px;
    top: 10px;
    font-size: 30px;
    border-radius: 50%;
}
.agreelogin_dialog .el-dialog__footer{
    text-align: center;
}
.noticeAritcleDialog .el-dialog__header{
    text-align: center;
    height: 40px;
    line-height: 40px;
    display: block;
}
.noticeAritcleDialog .el-dialog__header .el-dialog__title{
    text-align: center;
    color: #ed6c00;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #e48a8e;
}
.noticeAritcleDialog .el-dialog__headerbtn{
    background: #9fa0a0;
    width: 30px;
    height: 30px;
    top: 20px;
    font-size: 30px;
    border-radius: 50%;
}
.noticeAritcleDialog .el-dialog__headerbtn .el-dialog__close{
    color: #fff;
    margin-top: 0;
    display: table-row;
}
.noticeAritcleDialog .el-dialog__headerbtn:hover .el-dialog__close{
    color: #e48a8e;
}
.noticeAritcleDialog .el-dialog__body{
    margin-top: 10px;
    font-size: 14px;
    color: #000;
    height: 400px;
    overflow-y: scroll;
}
.floatButtons{
    width: 35px;
    height: 290px;
    position: fixed;
    top: 305px;
    left : 20px;
    z-index: 9;
} 
.floatButtons a{
    text-align: center;
    border-radius: 16px;
    background: #ff9966;
    padding: 16px 0;
    color: #FFF;
    font-size: 14px;
    height: 135px;
    display: block;
    margin-bottom: 10px;
}
.floatButtons i.iconfont{
    font-size: 15px;
    margin-bottom: 5px;
}

.speedtest{
    width: 900px;
    padding:25px 40px;
    background: #FFF;
    margin: 0 auto;
    border-radius: 3px;
    margin-bottom: 20px;
    height: 500px;
}
.speedtest p{
    color: #bd2026;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
}
.speedtest ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.speedtest ul li{
    width: 260px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    float: left;
    margin-bottom: 10px;
    height: 120px;
}
.speedtest ul li:nth-child(3),
.speedtest ul li:nth-child(6){
    margin-right: 0;
}
.speedtest ul li div{
    width: 100%;
    padding: 10px 0;
}
.speedtest ul li div.lineaccess{
    text-align: center;
    height: 30px;
    padding: 5px 0;
}
.speedtest ul li div.lineaccess .accessurl{
    width: 80%;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    background: #ea6262;
    border-radius: 3px;
    display: block;
    color: #FFF;
    font-size: 14px;
}
.speedtest ul li div.lineaccess .accessurl:hover{
    background:#f07979;
}
.speedtest ul li div.linespeed{
    color: #333;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    padding: 5px 0;
}
.speedtest ul li div.linespeed .line{
    float: left;
}
.speedtest ul li div.linespeed .line em.a{
    font-style: normal;
    color: #ea6262;
}
.speedtest ul li div.linespeed .line em.b{
    font-style: normal;
    color: #f18900;
}
.speedtest ul li div.linespeed .line em.c{
    font-style: normal;
    color: #9fa0a0;
}
.speedtest ul li div.linespeed .speed{
    float: right;
}
.speedtest ul li div.linespeed .speed em{
    font-style: normal;
}
.speedtest ul li div.linespeed .speeda em,
.speedtest ul li div.linespeed .speeda i{
    color: #ea6262;
    vertical-align: baseline;
}
.speedtest ul li div.linespeed .speedb em,
.speedtest ul li div.linespeed .speedb i{
    color: #f18900;
    vertical-align: baseline;
}
.speedtest ul li div.linespeed .speedc em,
.speedtest ul li div.linespeed .speedc i{
    color: #9fa0a0;
    vertical-align: baseline;
}

.speedtest ul li div.lineurl{
    width:100%;
    border: 1px solid #dedede;
    border-radius: 3px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    margin-bottom: 5px;
    padding: 10px;
}
.speedtest ul li div.lineurl span{
    text-align: right;
    border-left: 1px solid #eee;
    float: right;
    font-size: 14px;
    padding: 0 0px 0 5px;
    cursor: pointer;
}
.speedtest .speedstatuslist{
    clear:both;
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
}
.speedtest .speedstatuslist .a{
    background: url('./images/sp_best.png') left center no-repeat;
    color: #ea6262;
    padding-left: 15px;
}
.speedtest .speedstatuslist .b{
    background: url('./images/sp_good.png') left center no-repeat;
    color: #f18900;
    padding-left: 15px;
}
.speedtest .speedstatuslist .c{
    background: url('./images/sp_normal.png') left center no-repeat;
    color: #9fa0a0;
    padding-left: 15px;
}
.speedtest .refreshSpeed{
    width: 350px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    background: #f39800;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.header{
    background: #FFF;
}
.head-bottom-line{
    height: 20px;
    width: 100%;
    background: #eaecf1;
}
.wapper{
    width: 1270px;
    margin: 0 auto;
    background: #FFF;
    min-height: 800px;
    color: #282828;
}
.wapper .accountMenu{
    width: 1270px;
    height: 115px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.wapper .accountMenu .arrowTop{
    height: 20px;
    width: 1310px;
    position: absolute;
    left: -20px;
    top: 20px;
}
.wapper .accountMenu .arrowTop .arrowL{
    width: 0;
    height: 0;
    border-bottom: 20px solid #CB5556;
    border-left: 20px solid transparent;
    float: left;
}
.wapper .accountMenu .arrowTop .arrowR{
    width: 0;
    height: 0;
    border-bottom: 20px solid #CB5556;
    border-right: 20px solid transparent;
    float: right;
}
.wapper .accountMenu .menuMain{
    height: 70px;
    width: 1310px;
    position: absolute;
    top: 40px;
    left: -20px;
    background: #FF6666;
    padding: 12.5px 20px;
}
.wapper .accountMenu .menuMain ul{
    padding-left: 45px;
}
.wapper .accountMenu .menuMain ul li{
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 170px;
    float: left;
    margin-right: 25px;
    background: #7d7d7d;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.wapper .accountMenu .menuMain ul li.active,
.wapper .accountMenu .menuMain ul li:hover{
    background: #FFF;
    color: #FF6666;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}
.wapper .accountMenu .menuMain ul li.active a,
.wapper .accountMenu .menuMain ul li:hover a{
    color: #FF6666;
    display: block;
}
.wapper .accountMenu .menuMain ul li a{
    color: #FFF;
}
.wapper .accountMenu .menuShadow{
    height: 5px;
    width: 1270px;
    position: absolute;
    top: 110px;
    left: 0;
    background: #dcdcdb;
}
.wapper .teamMenu {
    height: 255px;
}
.wapper .accountMenu .teammenuMain{
    height: 210px;
}
.wapper .accountMenu .teammenuShadow{
    top: 250px;
}
.wapper .accountMenu .teammenuMain ul li{
    margin-bottom: 20px;
}
.wapper .accountInfo{
    width: 1270px;
    display: block;
    margin-top: 20px;

}
.wapper .accountInfo .accountInfoMenu{
    width: 230px;
    padding-left: 42px;
    padding-top: 40px;
    float: left;
}
.wapper .accountInfo .accountInfoMenu ul{
    width: 188px;
}
.wapper .accountInfo .accountInfoMenu ul li{
    width: 188px;
    height: 46px;
    margin-bottom: 20px;
}
.wapper .accountInfo .accountInfoMenu ul li a{
    display: block;
}
.wapper .accountInfo .accountInfoMenu ul li a .button{
    width: 168px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 1px solid #b7b8b8;
    color: #ff6666;
    float: left;
    border-radius: 3px;
}
.wapper .accountInfo .accountInfoMenu ul li:hover a .button,
.wapper .accountInfo .accountInfoMenu ul li.active a .button{
    border: 1px solid #ff6666;
    background: #ff6666;
    color: #FFF;
}
.wapper .accountInfo .accountInfoMenu ul li:hover a .arrowRight,
.wapper .accountInfo .accountInfoMenu ul li.active a .arrowRight{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 12px;
}
.wapper .accountInfo .accountInfoMenu ul li a .arrowRight .iconfont{
    display: none;
}
.wapper .accountInfo .accountInfoMenu ul li:hover a .arrowRight .iconfont,
.wapper .accountInfo .accountInfoMenu ul li.active a .arrowRight .iconfont{
    display: block;
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: #ff6666;
}
.wapper .accountInfoMain{
    width: 990px;
    min-height: 500px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    float: left;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 40px;
}


.wapper .accountInfoMain .updateNickLabel{
    line-height: 40px;
    color: #7d7d7d;
    font-size: 14px;
}
.wapper .bankcard{
    width:900px;
    margin: 60px auto;
    margin-bottom: 0;
}
.wapper .bankcard .header-row th{
    background: #f5f7fa;
    color: #333;
}
.wapper .bankcard .body-row{
    color: #333;
}
.wapper .bankcard .divtip{
    padding: 100px 0;
    color: #333;
}
.wapper .bankcard .divtip p{
    line-height: 2em;
}
.wapper .bankcard .divtip p .red{
    color: #bb1b21;
}
.wapper .bankcard .bankcardsOpt{
    padding: 30px 0;
    text-align: center;
}
.wapper .bankcard .bankcardsform .formitem{
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    position: relative;
}
.wapper .bankcard .bankcardsform .formitem label{
    width: 125px;
    height:40px;
    line-height: 40px;
    text-align: right;
    float: left;
}
.wapper .bankcard .bankcardsform .formitem label .red{
    color: #bb1b21;
}
.wapper  .el-select .el-input .el-select__caret{
    top: 0;
}
.wapper .formitem .el-select,
.wapper .formitem .el-cascader,
.wapper .formitem .el-input
{
    float: left;
    width: 400px;
}
.wapper .formitem .savevalue{
    float: left;
    width: 400px;
    height: 40px;
    line-height: 40px;
    color: #d7000f;
}
.wapper .formitem .savevalue img{
    height: 40px;
}
.wapper .formitem .errTip{
    position: absolute;
    right: 0;
    top: 0;
    width: 355px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    margin-right: 0px;
    color: #bb1b21;
}
.wapper .accountInfoMain .googleForm,
.wapper .accountInfoMain .answerForm,
.wapper .accountInfoMain .fundPwdForm,
.wapper .accountInfoMain .passwdForm {
    width: 60%;
}
.wapper .accountInfoMain .answer .answerTips,
.wapper .accountInfoMain .otherlogin .otherloginTips,
.wapper .accountInfoMain .fundpasswd .fundpasswdTips{
    color: #bb1b21;
    padding: 0px 0px 30px 100px;
}
.wapper .accountInfoMain .answer .answerTips .iconfont,
.wapper .accountInfoMain .otherlogin .otherloginTips .iconfont,
.wapper .accountInfoMain .fundpasswd .fundpasswdTips .iconfont{
    font-size: 30px;
    margin-right: 15px;
}
.wapper .accountInfoMain .answerForm .el-select{
    width: 100%;
}
.wapper .accountInfoMain .answer .isAlredyProtect{
    padding: 0px 0px 30px 100px;
    color: #333;
}
.wapper .accountInfoMain .answer .isAlredyProtect .iconfont{
    font-size: 30px;
    color: #4cd964;
    margin-right: 15px;
}
.wapper .accountInfoMain .answer .isAlredyProtect p{
    line-height: 60px;
    font-size: 18px;
}
.wapper .accountInfoMain .otherlogin .otherloginbutton,
.wapper .accountInfoMain .otherlogin .otherloginstatus{
    padding: 0px 0px 30px 100px;
}
.wapper .accountInfoMain .otherlogin .otherloginstatus span .iconfont,
.wapper .accountInfoMain .otherlogin .otherloginstatus span{
    color: #bb1b21;
}
.wapper .accountInfoMain .otherlogin .otherloginstatus .active{
    color: #56aa72;
}
.wapper .accountInfoMain .otherlogin .otherloginstatus .active .iconfont{
    color: #56aa72;
    margin: 0 10px;
}

.wapper .accountInfoMain .otherlogin .otherloginstatus span .statustext{
    width: 80px;
}
.wapper .accountInfoMain .otherlogin .otherloginstatus .active .statustext{
    color: #56aa72;
}
.wapper .accountInfoMain .google{
    width: 100%;
    position: relative;
}
.wapper .accountInfoMain .google .googleFormTips{
    color: #bb1b21;
    padding: 0px 0px 30px 50px;
}
.wapper .accountInfoMain .google .googleFormDesc{
    padding: 0px 0px 30px 50px;
}
.wapper .accountInfoMain .google .googleFormDesc p{
    line-height: 2em;
}
.wapper .accountInfoMain .google .googlecode{
    width: 240px;
    height: 240px;
    position: absolute;
    top: 0px;
    right: 50px;
}
.wapper .accountInfoMain .google .googlecode img{
    width: 100%;
    height: 100%;
}

.wapper .accountInfoMain .google .isBindGoogle{
    padding: 0px 0px 30px 50px;
 }

.wapper .lotterys{
    padding: 20px;
}
.wapper .lotterys .gameGroup{
    width: 49%;
    float: left;
}
.wapper .lotterys .gameGroup:first-child{
    margin-right: 2%;
}
.wapper .lotterys .gameGroup .header-row th{
    background: #f39800;
    color: #fff;
    text-align: center;
}
.wapper .lotterys .gamemethod{
    margin-top:20px;
}

.wapper .lotterys .gamemethod .method-header-row th{
    background: #ff6666;
    color: #fff;
    text-align: center;
}
.wapper .teamsummary{
}
.wapper .teamPage .fiterForm,
.wapper .teamsummary .fiterForm{
    padding:20px 0px;
}
.wapper .teamPage .fiterForm .el-input__icon,
.wapper .teamsummary .fiterForm .el-input__icon{
    left: 0;
}
.wapper .teamPage .fiterForm .el-input__suffix,
.wapper .teamsummary .fiterForm .el-input__suffix{
    right: 25px;
}
.wapper .teamPage .fiterForm .floatright,
.wapper .teamsummary .fiterForm .floatright{
    float: right;
    width: 150px;
}
.wapper .teamPage .fiterForm .floatright .el-button,
.wapper .teamsummary .fiterForm .floatright .el-button{
    width: 120px;
}
.el-select-dropdown__item.selected.hover,
.el-select-dropdown__item.selected{
    color: #FFF;
}
.wapper .teamAnalysis {
    width: 95%;
    margin: 0px auto;
}
.wapper .teamAnalysis .grid-content{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #ff6666;
    background: #FFF;
    border-radius: 3px;
}
.wapper .teamAnalysis .grid-content span{
    height: 40px;
    line-height: 40px;
    color: #FFF;
    background: #ff6666;
    display: block;
}
.wapper .teamAnalysis .grid-content b{
    color: #f39800;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}
.wapper .teamAnalysis .analysistitle{
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 18px;
    border-left: 4px solid #ff7f4b;
}
.wapper .teamAnalysis .chatsSwitch{
    padding: 0 10px;
}
.wapper .teamAnalysis .chatsSwitch .el-radio-button__orig-radio:checked+.el-radio-button__inner{
    background-color: #ff7f4b;
    border-color: #ff7f4b;
    -webkit-box-shadow: -1px 0 0 0 #ff7f4b;
    box-shadow: -1px 0 0 0 #ff7f4b;
}
.wapper .teamAnalysis .chatsSwitch .el-radio-button__inner:hover{
    color: #ff7f4b;
}
.wapper .teamAnalysis .chatsSwitch .el-radio-button__orig-radio:checked + .el-radio-button__inner{
    color: #FFF;
}
.wapper .teamAnalysis .summaryGrid{
    margin-bottom: 20px;
}
.wapper .teamlist{
    padding: 20px;
}
.wapper .teamlist .header-row th{
    background: #ff6666;
    color: #FFF;
    text-align: center;
}
.wapper .teamlist .el-table__row td{
    text-align: center;
}
.wapper .teamlist .sort-caret.descending{
    border-top-color: #FFF;
}
.wapper .teamlist .sort-caret.ascending{
    border-bottom-color: #FFF;
}
.wapper .teamlist .ascending .sort-caret.ascending{
    border-bottom-color: #7d7d7d;
}
.wapper .teamlist .descending .sort-caret.descending{
    border-top-color: #7d7d7d;
}
.wapper .teamPagination{
    padding: 20px;
    text-align:center;
}
.wapper .teamlist  .name-wrapper .online{
     color: #56d176;
}
.wapper .teamlist  .name-wrapper .offline{
    color: #bb1b21;
}
.wapper .teamlist  .name-wrapper .opstatus_detail a{
    color: #ea8914;
    margin: 0 5px;
}
.wapper .teamlist  .name-wrapper .opstatus_fdset a{
    color: #3eb6b9;
    margin: 0 5px;
}
.wapper .teamlist  .name-wrapper .opstatus_betsrecord a{
    color: #3eb71f;
    margin: 0 5px;
}
.wapper .teamlist  .name-wrapper .opstatus_qy a{
    color: #bb1b21;
    margin: 0 5px;
}
.wapper .teamlist .userDetail{
    padding: 50px 0;
}
.wapper .teamlist .userDetailTable{
    width: 40%;
    margin: 20px auto;
    text-align: center;
}
.wapper .teamlist .userDetail .returnuserlist{
    text-align: center;
    margin: 20px auto;
}
.wapper .teamlist .userDetailTable tr td{
    text-align: left;
    padding: 3px 10px;
}
.wapper .teamlist .userDetailTable tr td:first-child{
    text-align: right;
}
.wapper .createUser,
.wapper .updateUser{
    width: 95%;
    margin: 0px auto;
    padding: 20px 0;
}
.wapper .createUser .title,
.wapper .updateUser .title{
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 18px;
    border-left: 4px solid #ff7f4b;
}
.fastSetPoint .el-slider__input{
    float: left;
}
.fastSetPoint  .el-slider__runway.show-input{
    margin-left: 150px;
}
.fastSetPoint .el-slider__bar{

}
.fastSetPoint .el-slider__button{

}
.wapper .createUser .editForm .el-input__inner,
.wapper .updateUser .editForm .el-input__inner{
    text-align: center;
    width: 130px;
}
.wapper .createUser .editForm .pointText,
.wapper .updateUser .editForm .pointText{
    color: #bb1b21;
}
.wapper .createUser .editForm .userSubmit ,
.wapper .updateUser .editForm .userSubmit {
    text-align: center;
}

.wapper .spreadlist{
    padding: 30px 0;
}
.wapper .spreadlist .header-row th{
    background: #ff6666;
    color: #FFF;
    text-align: center;
}
.wapper .spreadlist .el-table__row td{
    text-align: center;
}
.wapper .spreadlist .sort-caret.descending{
    border-top-color: #FFF;
}
.wapper .spreadlist .sort-caret.ascending{
    border-bottom-color: #FFF;
}
.wapper .spreadlist .ascending .sort-caret.ascending{
    border-bottom-color: #7d7d7d;
}
.wapper .spreadlist .descending .sort-caret.descending{
    border-top-color: #7d7d7d;
}
.wapper .spreadlist .urlqrcode .buttons{
    width: 50%;
    margin: 0 auto;
}
.wapper .spreadlist .urlqrcode .buttons .buttonDiv{
    width: 50%;
    float: left;
}
.wapper .spreadlist .urlqrcode .buttons .buttonDiv .el-button--text{
color:#3ebcd1;
}
.wapper .spreadlist .urlqrcode .buttons .buttonDiv:first-child .el-button--text{
    color:#b6bd1f;
}
.wapper .spreadlist .opreate span {
    padding: 0 10px;
    color: #bb1b21;
}
.wapper .spreadlist .opreate span.op_detail a{
    color: #f39800;
}
.wapper .spreadlist .opreate span.op_delete a{
    color: #d7000f;
}
.wapper .spreadDetailTableBlock{
    height: 400px;
    overflow-y: scroll;
}
.wapper .spreadDetailTable{
    width: 100%;
}
.wapper .spreadDetailTable{
    table-layout:fixed;
    empty-cells:show;
    border-collapse: collapse;
    margin:0 auto;
}
.wapper .spreadDetailTable th,
.wapper .spreadDetailTable td{
    height:40px;
    color: #333;
}
.wapper .spreadDetailTable tr th:first-child,
.wapper .spreadDetailTable tr td:first-child{
    text-align: right;
}
.wapper .spreadDetailTable{
    border:1px solid #cad9ea;
    color:#666;
}
.wapper .spreadDetailTable th {
    background-repeat:repeat-x;
    height:40px;
}
.wapper .spreadDetailTable td,.wapper .spreadDetailTable th{
    border:1px solid #ccc;
    padding:0 2em 0;
}
.wapper .spreadDetailTable tr.alter{
    background-color:#f5fafe;
}
.wapper .spreadPagination{
    padding: 20px;
    text-align:center;
}
.wapper .searchTeamBets{
    float: right;
    text-align: right;
}
.wapper .searchTeamBets .el-button{
    margin-right: 10px;
    width: 180px;
}
.wapper .status_success{
    color: #67C23A;
}
.wapper .status_warning{
    color: #E6A23C;
}
.wapper .status_danger{
    color: #F56C6C;
}
.wapper .status_info{
    color: #909399;
}
.wapper .status_primary{
    color: #409EFF;
}
.gameTypeDiv{
  width: 260px;
  min-height: 600px;
  background: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 10;
  padding: 0px;
  margin: 0;
  background-color: #f0f0f0;
  border: 0px solid #ebeef5;
  border-radius:0px;
  box-shadow: 0 5px 20px 12px rgba(0, 0, 0, 0.1);
}
.gameTypeDiv .arrowTop{
  width: 100%;
  height: 0px;
  position: relative;
}
.gameTypeDiv .arrowTop .el-icon-caret-top{
    position: absolute;
    top: -30px;
    font-size: 50px;
    left: 110px;
    color: #fff;
    z-index: 9;
}
.gameTypeDiv .gamegroup{
    padding: 10px 20px;
    padding-bottom: 0;
    margin-bottom: 0px;
}
.gameTypeDiv .gamegroup:nth-child(even){
    background: url("./images/menu_odd_bg.png") repeat-y center;
}
.gameTypeDiv .gamegroup:nth-child(odd){
}
.gameTypeDiv .gamegroup dl dt{
    width: 100%;
    height: 45px;
    line-height: 40px;
    color: #ff6666;
    font-size: 16px;
}
.gameTypeDiv .gamegroup dl{
    /*background: url("./images/menu_li_bg.png") repeat-y center bottom;*/
}
.gameTypeDiv .gamegroup dl dt,
.gameTypeDiv .gamegroup dl dd:nth-child(even){
    background: url("./images/menu_dl_bg.png") no-repeat left bottom;
}
.gameTypeDiv .gamegroup dl dd:nth-child(odd){
    background: url("./images/menu_dl_bg.png") no-repeat right bottom;
}
.gameTypeDiv .gamegroup dl dt img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    float: left;
}
.gameTypeDiv .gamegroup dl dd{
    height: 40px;
    line-height: 40px;
    float: left;
    width: 50%;
}
.gameTypeDiv .gamegroup dl dd a{
    color: #6e7276;
    font-size: 14px;
}

// 投注界面
.GameWapper{
    width: 1250px;
    min-height: 600px;
    margin: 0 auto;
}
.GameWapper .WapperLeft{
    width: 990px;
    float: left;
}
.GameWapper .WapperRight{
    width: 240px;
    float: right;
}
.GameWapper .WapperLeft .betMain{
    width: 100%;
    min-height: 475px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    margin-bottom: 20px;
}
.GameWapper .WapperLeft .betMain .betWay{
    padding: 20px;
}

.GameWapper .WapperLeft .betList{
    width: 100%;
    min-height: 130px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    margin-bottom: 20px;
}
.GameWapper .WapperLeft .betList .betsList-header-row th{
    padding: 5px 0;
    text-align: center;
    background: #f5f5f5;
    color: #3c3c3c;
    font-size: 12px;
}
.GameWapper .WapperLeft .betList .betsList-body-row td{
    padding: 5px 0;
    font-size: 12px;
}
.GameWapper .WapperRight .recentAwards{
    background: #FFF;
    width: 100%;
    min-height: 475px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}
.GameWapper .WapperLeft .betRecords .el-tabs__header{
    margin-bottom: 10px;
}
.GameWapper .WapperLeft .betRecords .el-tabs__item{
    height: 35px;
    line-height: 35px;
}
.GameWapper .WapperLeft .betRecords .el-tabs--card>.el-tabs__header .el-tabs__item{
    border: none;
}
.GameWapper .WapperLeft .betRecords .el-tabs__item:hover{
    color: #303133;
}
.GameWapper .WapperLeft .betRecords .el-tabs__content{
    background: #FFF;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}
.GameWapper .WapperLeft .betRecords .viewmore{
    padding: 20px;
    text-align: center;
}
.GameWapper .WapperLeft .betRecords  .el-tabs--card>.el-tabs__header{
    border: none;
}
.GameWapper .WapperLeft .betRecords  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
    border-bottom: none;
    background: #ff6666;
    color: #FFF;
    border-radius: 3px;
}
.GameWapper .WapperLeft .betRecords  .el-tabs--card>.el-tabs__header .el-tabs__nav{
    border: none;
}
.GameWapper .WapperLeft .betRecords .betRecords-header-row th{
    padding: 5px 0;
    text-align: center;
    background: #FFF;
    color: #3c3c3c;
    font-size: 12px;
}
.GameWapper .WapperLeft .betRecords .betRecords-body-row td{
    padding: 5px 0;
    font-size: 12px;
}
.GameWapper .WapperLeft .betPlay{
    background: url('./images/betsplit.png') bottom center no-repeat;
}
.GameWapper .WapperLeft .betSelList{
    background: url('./images/betsplit.png') bottom center no-repeat;
}
.GameWapper .WapperLeft .betWay .el-tabs--card>.el-tabs__header{
    border-bottom: 1px solid #ff6666;
}
.GameWapper .WapperLeft .betWay .el-tabs--card>.el-tabs__header .el-tabs__nav{
    border: none;
}
.GameWapper .WapperLeft .betWay .el-tabs--card>.el-tabs__header .el-tabs__item{
    border-left:none;
    border-right: none;
    color: #6e7276;
}
.GameWapper .WapperLeft .betWay .el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
    border-bottom-color: #ff6666;
    background:#ff6666 ;
    border-radius: 5px 5px 0 0;
    color: #FFF;
}

.GameWapper .WapperLeft .betWay .betPlay{
    width: 100%;
}

.GameWapper .WapperLeft .betWay .bonusAdj{
    width: 250px;
    height: 100px;
    float: left;
    position:relative;
}
.GameWapper .WapperLeft .betWay .bonusAdj .disMinRate{
    width: 50px;
    height: 25px;
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.GameWapper .WapperLeft .betWay .bonusAdj .disMaxRate{
    width: 50px;
    height: 25px;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateResult{
    width: 100%;
    position: absolute;
    top: 30px;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateResult span{
    float: left;
    width: 50%;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateResult span:last-child{
    text-align: right;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateResult span em{
    font-style: normal;
    color: #ff6666;
}
.GameWapper .WapperLeft .betWay .bonusAdj .el-slider__bar,
.GameWapper .WapperLeft .betWay .bonusAdj .el-slider__runway{
    height: 10px;
}
.GameWapper .WapperLeft .betWay .bonusAdj .el-slider__bar{
    background-color: #ff6666
}

.GameWapper .WapperLeft .betWay .bonusAdj .el-slider__button-wrapper{
    top: -13px;
}
.GameWapper .WapperLeft .betWay .bonusAdj .el-slider__button{
    /*width: 10px;
    height: 10px;*/
    border: 2px solid #ff6666;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateType{
    position: absolute;
    bottom: 0;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateType .el-radio{
    width: 125px;
    float: left;
    margin: 0;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateType .el-radio:first-child{
    text-align: left;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateType .el-radio:last-child{
    text-align: right;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateType  .el-radio__inner{
    width: 18px;
    height: 18px;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateType .el-radio__input.is-checked .el-radio__inner{
    background: #ff6666;
    border-color: #ff6666;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateType .el-radio__input.is-checked+.el-radio__label{
    color: #f66;
}
.GameWapper .WapperLeft .betWay .bonusAdj .rateType .el-radio__inner{
    border: 1px solid #f66;
}
.GameWapper .WapperLeft .betWay .betPlay .betPlaySel{
    width: 670px;
    float: left;
}
.GameWapper .WapperLeft .betWay .betPlay .betPlaySel .bet-type-button-group{
    padding: 5px 0;
    display: block;
}
.GameWapper .WapperLeft .betWay .betPlaySel .bet-type-button-group .span_text{
    width: 100px;
    float: left;
    text-align: right;
    font-weight: bold;
    color: #6e7276;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.GameWapper .WapperLeft .betWay .betPlaySel .bet-type-button-group .text{
    width: 570px;
    float: left;
    font-size: 14px;
}
.GameWapper .WapperLeft .betWay .betPlaySel .bet-type-button-group .text ul li{
    float: left;
    padding: 2px 20px;
    color: #6e7276;
}
.GameWapper .WapperLeft .betWay .betPlaySel .bet-type-button-group .text ul li.bet-type-button{
    cursor: pointer;
    height: 30px;
    line-height: 30px;
}
.GameWapper .WapperLeft .betWay .betPlaySel .bet-type-button-group .text ul li.bet-type-button.active{
    background: #ff6666;
    color: #FFF;
    border-radius: 15px;
}
.GameWapper .WapperLeft .betWay  .betSelList{
    width: 100%;
    padding: 20px 0;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup{
    margin-bottom: 10px;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup .tz_dian{
    width: 750px;
    float: left;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup .tz_dian .span_text{
    text-align: right;
    font-weight: bold;
    width: 100px;
    display: block;
    color: #6e7276;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    float: left;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup .tz_dian ul{
    width: 650px;
    float: left;
    padding-left: 15px;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup .tz_dian ul li{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    float: left;
    margin-right: 15px;
    border: 1px solid #ff9f9f;
    border-radius: 50%;
    background: -webkit-radial-gradient(left top, #ffffff 0%, #ececec);
    cursor: pointer;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup .tz_dian ul li label{
    display: none;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup .tz_dian ul li.active{
    border: 1px solid #FFF;
    background: #ffcccc;
    color: #FFF;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup .tz_btn {
    width: 200px;
    float: left;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup .tz_btn ul{
    padding: 8px 0;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup .tz_btn ul li{
    float: left;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
}
.GameWapper .WapperLeft .betWay  .betSelList .listGroup .tz_btn ul li.active{
    background: #ff6666;
    border-radius: 2px;
    color: #FFF;
}
.GameWapper .WapperLeft .betWay  .opbuttons{
    padding: 10px;
    text-align: center;
}