
.recharged_dialog{
    background: none;
}
.recharged_dialog .el-dialog__header{
    text-align: left;
    // border-radius:10px 10px 0px 0px;
    background: #FF6666;
}
.recharged_dialog .el-dialog__title{
    color: #fff;
}
.recharged_dialog .el-dialog__headerbtn .el-dialog__close{
    color: #FF6666;
}
.recharged_dialog .el-dialog__headerbtn{
    background: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    font-size: 30px;
    border-radius: 50%;
}
.recharged_dialog .el-dialog__body{
        padding: 30px 40px;
        background: #fff;
}
.recharged_dialog .recharged-foot{
    border-top:2px dashed #ddd; 
    padding: 10px;
}
.recharged_dialog .el-form-item__label{
    text-align: left;
}
.recharged_dialog .recharged-imput{
    width: 400px;
}
.recharged_dialog p{
    padding: 5px 0;
}
.recharged_dialog .button{
    margin: 10px 50px;;
}
.recharged_dialog .button a{
    margin: 10px 50px;
    color: #008CD6;
    font-size: 1.2em;
}

.withdraw_dialog .el-dialog__header{
    text-align: left;
    // border-radius:10px 10px 0px 0px;
    background: #F39800;
}
.withdraw_dialog .el-form-item__label{
    text-align: left;
}
.withdraw_dialog .withdraw-imput{
    width: 400px;
    margin-top:10px; 
}
.withdraw_dialog .el-dialog__headerbtn .el-dialog__close{
    color: #F39800;
}
.withdraw_dialog .el-dialog__body{
        padding: 30px 80px;
}
.withdraw_dialog p{
    padding: 6px 0;
}
.withdraw_dialog .el-dialog__headerbtn{
    background: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    font-size: 30px;
    border-radius: 50%;
}
.withdraw_dialog .el-form-item{
    margin-bottom: 15px;
}
.withdraw_dialog .el-dialog__title{
    color: #fff;
}
.withdraw_dialog table,
.withdraw_dialog table th,
.withdraw_dialog table td
{
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
    height: 30px;
}
.withdraw_dialog .table{
    width: 500px;
}

.dialog_transfer{

}

.dialog_transfer .el-dialog__header{
    padding: 0px;
}

.dialog_transfer .el-dialog__body{
    padding: 10px 0px;
}
.dialog_transfer .el-dialog__headerbtn{
    z-index: 99;
}
.dialog_transfer .el-dialog__headerbtn .el-dialog__close{
    color: #fff;
}
.dialog_transfer .el-dialog__headerbtn .el-dialog__close:hover{
    color: #fff;
}
.dialog_transfer .el-tabs--card>.el-tabs__header .el-tabs__nav{
    margin-left: 20px;
}

.dialog_transfer .el-dialog__headerbtn{
    background: #0BA7A3;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    font-size: 30px;
    border-radius: 50%;
}
.dialog_transfer .el-tabs--card>.el-tabs__header{
    border-bottom: 6px solid #0BA7A3;
}
.dialog_transfer .el-tabs--card>.el-tabs__header .el-tabs__item{
     border-bottom: none;
}
.dialog_transfer .el-tabs__item.is-active{
    color: #fff;
    background: #0BA7A3;
}
.dialog_transfer .el-select .el-input .el-input__icon{
    top:0px;
}